<header class="bg-slate-900 relative">
  <div class="container mx-auto px-6 py-2">
    <div class="flex items-center justify-between">
      <div class="hidden w-full text-gray-600 md:flex md:items-center">
        <i class="gg-profile"></i>
      </div>
      <div class="w-full text-blue-300 md:text-center font-mono text-4xl font-semibold uppercase tracking-widest">
        <a href="/">SUPERSTORE ADMIN</a>
      </div>
      <div class="flex items-center justify-end w-full">
        <button @click="cartOpen = !cartOpen" class="text-gray-600 focus:outline-none mx-4 sm:mx-0">
          <i class="gg-shopping-cart"></i>
        </button>

        <div class="flex sm:hidden">
          <button @click="isOpen = !isOpen" type="button"
            class="text-gray-600 hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-label="toggle menu">
            <i class="gg-menu-grid-r"></i>
          </button>
        </div>
      </div>
    </div>
    <nav :class="isOpen ? '' : 'hidden'" class=" mt-4">
      <div id="category-bar" class="flex items-center justify-between py-1 px-5">
        <!-- Product Management Dropdown -->
        <div class="relative group flex-1 text-center ">
          <a href="/category" class="text-white hover:underline cursor-pointer">
            Product Management
          </a>
          <!-- Dropdown Menu -->
          <div
            class="absolute left-1/2 transform -translate-x-1/2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg hidden group-hover:block">
            <a href="/category/computers" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
              Computers
            </a>
            <a href="/category/mobilephones" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
              Mobilephones
            </a>
            <a href="/category/televisions" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
              Televisions
            </a>
          </div>
        </div>
      
        <!-- Other Categories -->
        <a class="flex-1 text-center text-white hover:underline" href="/account-management">Account Management</a>
        <a class="flex-1 text-center text-white hover:underline" href="/orderManagement">Order Management</a>
        <a class="flex-1 text-center text-white hover:underline" href="/">Categories Management</a>
        <a class="flex-1 text-center text-white hover:underline" href="/statistic">Statistic</a>
      </div>
      
    </nav>
  </div>
</header>

<script>
  // Lấy URL hiện tại
  const currentUrl = window.location.pathname;

  // Kiểm tra nếu đang ở trang login hoặc register
  if (currentUrl.includes('login') || currentUrl.includes('register')) {
    document.getElementById('search-bar').style.display = 'none';
    document.getElementById('category-bar').style.display = 'none';
  }
</script>