@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    @apply mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0;
}

.star {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 24px;
}
.star:before {
    display: inline-block;
    content: '\2605';
}
.star.on { color: gold; }
.star.half { color: gray; }
.star.half:after {
    display: inline-block;
    color: gold;
    content: '\2605';
    position: absolute;
    margin-left:-20px;
    width: 10px;
    overflow: hidden;
}
.star.off { color: gray; }